*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Merlin32 specific
src/main/6502/*_Output.txt
src/main/6502/_FileInformation.txt

